```gitignore
# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Conda environment files
*.env
.env/
*.yml

# Virtual environments
venv/
env/
.venv/
.envrc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# macOS files
.DS_Store

# PyCharm settings
.idea/

# Logs
*.log

# Test coverage
htmlcov/
.coverage
.tox/

# Build artifacts
build/
dist/
*.egg-info/

# Python wheel files
*.whl
```
